@import "tailwindcss";

:root {
    --color-default: #0a0d13 !important;
    --color-primary: #0d42ff !important;
    --color-secondary: #0e1d34 !important;
    --color-navigation: #0e1d34E6 !important;
    --color-white: #FFFFFF !important;
    --color-offWhite: #FFFFFF99 !important;
    --color-text: #001973 !important;
    --color-brown: #8b0000 !important;
    --color-imageBackground: #f9f9f9 !important; 
    --color-contact-us: #333333 !important;

    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    --font-primary: "Inter", sans-serif !important;
    --font-secondary: "Poppins", sans-serif !important;

    --font-ex-small: 12px !important;
    --font-md-small: 14px !important;
    --font-lg-small: 16px !important;
    --font-medium: 18px !important;
    --font-large: 20px !important;
    --font-ex-large: 22px !important;
    --font-ex-m-large:24px !important;
    --font-title: 28px !important;

    --font-family:'inter', 'sans-serif' !important;
  }

body {
    box-sizing: border-box; 
    margin: 0px;
    padding: 0px;
    font-family:var(--font-family) ;
    scroll-behavior: smooth;
  }
  