.hero-main{
    height: 100vh;
    display: flex;
    justify-content: space-between  ;
    margin: 30px 0px;
    padding:0px 60px;
}
.hero-text-container{
    display: flex;
    flex-direction: column;
    gap: 20;
    margin: 30px 0px;
}
.hero-text-container h1{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 2.5rem;
}
.hero-text-container p{
    color: #FFFFFFCC;
    width: 86%;
    text-align: justify;
    font-size: 1.1rem;
}
.hero-image{
    border-radius: 5px !important;
}
@media screen and (max-width: 1024px) {
    .hero-main {
        flex-direction: column;
        text-align: center;
        align-items: center;
        height: auto;
        padding: 40px 20px;
    }

    .hero-text-container {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .hero-image-container {
        width: 100% ;
        display: flex ;
        justify-content: center ;
        
    }

    .hero-image {
        width: 90%;
        max-width: 400px;
    }
}

@media screen and (max-width: 768px) {
    .hero-text-container h1 {
        font-size: 2.5rem;
    }

    .hero-text-container p {
        font-size: 1rem;
        
    }
}

@media screen and (max-width: 480px) {
    .hero-text-container h1 {
        font-size: 2rem;
    }

    .hero-text-container p {
        font-size: 0.9rem;
    }

    .hero-image {
        width: 100%;
        max-width: 300px ;
    }
}
