/* main-Box */
.main{
  padding:0px 60px;
  display:flex;
  flex-direction:column;
  gap:5;
  margin:70px 0px ;
}
@media screen and (max-width:768px) {
  .main{
    padding: 0px 30px;
  }
}
/* Our Location and availability  */
.card-main{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 30px 0px;
}

.Card-box{
    width: 100%;
    max-width: 350px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding:10px 20px;
    border: 1px solid var(--color-primary);
  }
  .Card-box:hover {
  padding:10px 20px;
  transform: translateY(-5px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
  border: none;
  transition: all 0.3s ease;
}
.Card-box:hover .Card-Contained .card-title {
  color: var(--color-primary); 
}
.Card-box.active {
  padding:10px 20px;
  transform: translateY(-5px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
  border: none;
  transition: all 0.3s ease;
  }
  .Card-box.active .Card-Contained .card-title {
    color: var(--color-primary);
  }
.Card-Contained{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13;
}
@media screen and (max-width: 376px) {
  .Card-box{
      padding: 10px 0px;
  }
}

/* about us  */
.about-us-main {
  padding: 0 30px;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  
}

.photo-frame {
  width: 100%;
  max-width: 456px;
  aspect-ratio: 1 / 1;
  border-radius: 15px !important;
  background-color: var(--color-imageBackground);
  position: relative;
  overflow: hidden;
}

.about-image {
  object-fit: cover;
  border-radius: 50%;
  padding: 5%;
}

.about-us-title1,
.about-us-title2 {
  font-size: clamp(1.5rem, 2vw, 2rem) !important;
  font-weight: 700 !important;
}

.about-us-text,
.about-us-text2 {
  font-size: clamp(1rem, 1.5vw, 1.125rem) !important;
}

.about-us-text2 {
  font-style: italic;
  font-weight: 500 !important;
}

.about-us {
  margin-top: 2rem;
}

/* //services */


.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin-top: 30px;
}

.service-card {
  width: 100%;
  max-width: 250px;
  transition: transform 0.3s ease;
  overflow: hidden;
  text-align: left;
}

.service-card:hover {
  border: none;
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 10, 0.08);
}
.service-card:hover .service-text .service-title{
  color: var(--color-primary); 
}
.service-card.active  .service-text .service-title {
  color: var(--color-primary);
}

.service-image-wrapper {
  position: relative;
  width: 100%;
  height: 180px;
}

.service-image {
  object-fit: cover;
}
.service-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 47px !important;
}
.service-card.active {
  transform: translateY(-5px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
  border: none;
}
@media screen and (max-width:768px) {
  .service-text{
    padding: 25px;
  }
}