
.navbar-main{
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;left: 0;right: 0;
    z-index: 9999;
    transition: all 0.5s ease; 
    padding:0px 60px;
}
.navbar-main.sticky {
    height: 90px;
    background: var(--color-navigation);
    transition: all 0.5s ease;
}
.logo {
    height:100px;
    width:153px;
}
.navbar-list{
    display: flex;
    gap: 20px;
    font-size: 16px;
    font-family:var(--font-primary) ;
    
}


.menu-icon{
    display: none !important;
}

.mobile-menu {
    display: none;
    background-color: var(--color-navigation) !important;
    width:40vw !important;
    height: 100vh !important;
    padding: 20px !important;
}

.close-button {
    color: var(--color-white) !important;
}

/* adjucet */
@media screen and (max-width: 1080px) {
    .navbar-list {
        display: none !important;
    }
    .navbar-main{
        z-index: 1;
        padding: 0px 30px;
    }
    .menu-icon {
        display: block !important;
        color: var(--color-white) !important;
    }
    .mobile-menu{
        display: block;
    }
    
    .navbar-link{
        color: var(--color-white) !important;
    }
   
   
}

@media screen and (max-width: 600px) {
    .menu-icon {
        display: block !important;
        color: var(--color-white) !important;
    }

    .mobile-menu {
        width: 70vw !important;
       display: block;
    }
}
@media screen and (max-width: 400px) {
    .mobile-menu {
        width: 100vw !important; 
    }
    .menu-icon {    
        display: block !important;
        color: var(--color-white) !important;
    }

    .mobile-menu {
       display: block;
    }
}